@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* { 
    margin: 0;
    padding: 0;
}

body {
    opacity: 1;
    font-family: "Poppins", sans-serif;
    background-color: #edf2f4;
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background-color: #edf2f4; 
}

body::-webkit-scrollbar-thumb {
    background-color: #8d99ae; 
    border: none;
    border-radius: 8px;
}

header, .navbar {
    background-color: transparent;
}

.logo {
    width: 45px;
    margin: 0px 15px;
}

.navbar-brand {
    padding: 0;
    font-weight: 700;
    text-decoration: none;
    color: #2b2d42;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.navbar-brand:hover {
    color: #feec04;
    transform: scale(0.9);
}

.navbar-nav a {
    margin: 0px 20px;
    text-decoration: none;
    color: #2b2d42;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    transition: 0.2s;
}

.navbar-nav a:hover {
    color: #feec04;
    transform: scale(0.9);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.navbar-toggler {
    margin-right: 15px;
    border: 2px solid #2b2d42;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43, 45, 66, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#slide-menu .carousel-inner, #slide-menu .carousel-item {
    height: 80vh;
}

#slide-menu .carousel-inner, #slide-menu .carousel-item img{ 
    object-fit: contain;
}

#slide-menu .carousel-caption h5 {
    font-size: clamp(1.7rem, 3.2vw, 4.2rem);
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 0 0 3px #000000;
}
  
#slide-menu .carousel-caption p {
    font-size: clamp(1.1rem, 2.3vw, 2.6rem);
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
    text-shadow: 0 0 3px #000000;
}

#slide-menu .carousel-caption a {
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    color: #ffffff99;
    background-color: #00081477;
    text-decoration: none;
    border: 2px solid #ffffff99;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 13px 26px;
}

#slide-menu .carousel-caption a:hover {
    color: #feec04;
    text-decoration: underline;
    border-color: #feec04;
}
