@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* { 
    margin: 0;
    padding: 0;
}

body {
    opacity: 1;
    font-family: "Poppins", sans-serif;
    background-color: #edf2f4;
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background-color: #edf2f4; 
}

body::-webkit-scrollbar-thumb {
    background-color: #8d99ae; 
    border: none;
    border-radius: 8px;
}

header, .navbar {
    background-color: transparent;
}

.logo {
    width: 45px;
    margin: 0px 15px;
}

.navbar-brand {
    padding: 0;
    font-weight: 700;
    text-decoration: none;
    color: #2b2d42;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.navbar-brand:hover {
    color: #feec04;
    transform: scale(0.9);
}

.navbar-nav a {
    margin: 0px 20px;
    text-decoration: none;
    color: #2b2d42;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    transition: 0.2s;
}

.navbar-nav a:hover {
    color: #feec04;
    transform: scale(0.9);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.navbar-toggler {
    margin-right: 15px;
    border: 2px solid #2b2d42;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43, 45, 66, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.slide {
    padding-top: 50px;
}

.teste3 {
    width: 250px;
    height: auto;
}

@media screen and (min-width: 992px){

    .teste3 {
        width: 380px;
    }
}