@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1931;
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background: transparent; 
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff77; 
    border-radius: 20px; 
    border: none;
}

header, .navbar {
    background-color: transparent;
}

.navbar-brand {
    margin: 0px 50px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: clamp(2rem, 2.4vw, 3.2rem);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link {
    margin: 0px 20px;
    text-decoration: none;
    color: #fff;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.navbar-brand:hover,
.nav-link:hover {
    color: #feec04;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.navbar-toggler {
    margin-right: 15px;
    border: 2px solid #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .collapsing,
.navbar .show {
    text-align: center;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.marketing .row {
    padding: 0px;
    margin: 0px;
}

.marketing {
    margin-top: 60px;
}

.marketing h2 {
    margin: 20px 0px;
    color: #fff;
    font-size: clamp(1.3rem, 1.5vw, 1.8rem);
}

.marketing p {
    color: #fff;
    font-size: clamp(.8rem, 1.1vw, 1.5rem);
}

.marketing p,
.marketing img {
    max-width: 140px;
}

.content {
    margin-top: 100px;
}

.content .row,
.content .col-md-5,
.content .col-md-7 {
    margin: 0;
    padding: 0;
}

.content .row {
    padding: 40px;
    margin-top: 25px;
}

.content .col-md-5,
.content .col-md-7 {
    padding: 15px;
}

.content iframe,
.content img {
    object-fit: cover;
    border-radius: 8px;
}

.content h2 {
    color: #fff;
    font-size: clamp(2rem, 3vw, 4rem);
    padding: 0px 10px;
}

.content p {
    color: #fff;
    text-align: justify;
    padding: 0px 10px;
    font-size: clamp(.8rem, 1.1vw, 1.5rem);
}

.content a {
    text-decoration: none;
}

#footer {
    margin: 0px;
    margin-top: 120px;
    color: #fff;
}

#footer a {
    text-decoration: none;
    color: #feec04;
}

#footer a:hover {
    text-decoration: underline;
}

.modal-dialog {
    border-radius: 10px;
}

.modal-content {
    background-color: #0e1f2e;
    color: #fff;
}

.modal-content a{
    text-decoration: none;
    color: #feec04;
}

.modal-content img {
    margin-top: 10px;
    border-radius: 8px;
}

.modal-footer button {
    padding: 8px 28px;
    font-size: clamp(0.8rem, 1.1vw, 1.3rem);
    background-color: #ffffff44;
    color: #fff;
    border: none;
    border-radius: 25px;
}